{% extends "layout.html" %}

{% block content %}


<link rel="stylesheet" href="{{url_for('static', filename='home.css')}}">

<!-- <script type="text/javascript" src="{{ url_for('static', filename = 'home.js') }}"></script> -->


<div class="container-fluid">
    <div class="row">
      <div class="col-4">
        <div class = "row settings"> Settings</div>
        <div class = "row" id = "set_account"> 
            <img  src="{{url_for('static',filename = 'images/account.png')}}">
        </div>
        <div class = "row" id = "set_preference"> 
            <img src="{{url_for('static',filename = 'images/preference.png')}}">
        </div>
      </div>
      <div class="col-8">
          <div class = "row" id = "account"> Account  </div>
          <div class = "row" id = "personal_information">
            <span id = "personal_information_subheader"> Personal Information   </span>
            <div class = "row" id = "avatar"> Avatar</div>
            <div class = "row" id = "avatar_row">
                <span>
                    <img src="{{url_for('static',filename = 'images/default_profile_pic.webp')}}" id = "profile_pic">
                </span>
                <span>
                    <button type="submit" id="change_button">Change</button>
                </span>
                <span>
                    <button type="submit" id="remove_button">Remove</button>
                </span> 
            </div>
            <div class = "row" id = "name_info">
                <div class = "col">
                    <div class = "personal_info_form"> 
                        <form class = "personal_info_form">  
                            <div class="form-row personal_info_cell">
                                <div class="form-group col-md-6">
                                  <label for="inputFirstName">First Name</label>
                                  <input type="name" class="form-control form-control-sm" id="inputFirstName" placeholder="first name" >
                                </div>
                                <div class="form-group col-md-6">
                                  <label for="inputLastName">Last Name</label>
                                  <input type="name" class="form-control form-control-sm" id="inputLastName" placeholder="last name">
                                </div>
                              </div>
                            <div class="form-row personal_info_cell">
                              <div class="form-group col-md-6">
                                <label for="inputEmail4">Email</label>
                                <input type="email" class="form-control form-control-sm" id="inputEmail4" placeholder="email">
                              </div>
                              <div class="form-group col-md-6 personal_info_cell">
                                <label for="inputPhoneNumber">Phone Number:</label>
                                <input type="tel" class="form-control form-control-sm" id="inputPhoneNumber" name="inputPhoneNumber" placeholder="phone number "pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
                                <small>Format: 123-456-7890</small>
                              </div>
                            </div>
                            <div class="form-group personal_info_cell">
                                <label for="inputPassword4">Password</label>
                                <input type="password" class="form-control form-control-sm" id="inputPassword4" placeholder="Password">
                              </div>
                            <div class="form-group personal_info_cell">
                              <label for="inputAddress">Address</label>
                              <input type="text" class="form-control form-control-sm" id="inputAddress" placeholder="1234 Main St">
                            </div>
                            <div class="form-group personal_info_cell">
                              <label for="inputAddress2">Address 2</label>
                              <input type="text" class="form-control form-control-sm" id="inputAddress2" placeholder="Apartment, studio, or floor">
                            </div>
                            
                            <div class="form-row personal_info_cell">
                              <div class="form-group col-md-6">
                                <label for="inputCity">City</label>
                                <input type="text" class="form-control form-control-sm" id="inputCity" placeholder="new york">
                              </div>
                              <div class="form-group col-md-4 personal_info_cell">
                                <label for="inputState">State</label>
                                <select id="inputState" class="form-control form-control-sm" >
                                  <option selected>Choose...</option>
                                  <option>...</option>
                                </select>
                              </div>
                              <div class="form-group col-md-2 personal_info_cell">
                                <label for="inputZip">Zip</label>
                                <input type="text" class="form-control form-control-sm" id="inputZip" placeholder="zip code">
                              </div>
                            </div>

                            <div class="row" id = "email_notification_subheader"> 
                                Email Notifications
                            </div>
                            <div class="form-row"  id = "email_notification">
                                <div class="row">
                                    <div class = "col">  

                                        <span class="form-check">
                                            <input class="form-check-input" type="checkbox" id="gridCheck">
                                            <label class="form-check-label" for="gridCheck">
                                            Buddy Found
                                            </label>
                                        </span>
                                        <span class="form-check">
                                            <input class="form-check-input" type="checkbox" id="gridCheck">
                                            <label class="form-check-label" for="gridCheck">
                                            Password changes
                                            </label>
                                        </span>

                                    </div>  
                                    <div class = "col"> 

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="gridCheck">
                                            <label class="form-check-label" for="gridCheck">
                                            New Resturants
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="gridCheck">
                                            <label class="form-check-label" for="gridCheck">
                                            Newsletters
                                            </label>
                                        </div>
                                        </div>
                                </div>
                            </div>


                            <button  id = "logout_button">Log out</button>
                            <button  type="submit" id = "save_button">Save </button>
                            <button  id = "discard_button">Discard </button>
                            

                          </form>

                    </div>

                      
                    
                </div>

            </div>
          </div>

      </div>

    </div>
  </div>
{% endblock %}