<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="icon" href="data:,">

    <!-- jquery -->
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>  
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='layout.css')}}">
    <script type="text/javascript" src="{{ url_for('static', filename = 'layout.js') }}"></script>
    <title>Columbia Friendship online</title>
          
    <script>
      let data = {{data|tojson}}
      // console.log("data is: ",data)
  
      </script>

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/">Columbia Friendship</a>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">

            
            <form class="form form-inline my-2 my-lg-0" id = "nav-search-form" action="/" method="GET" >
              <input type="search" placeholder="Search" class="search-field">
              <button type="submit" class="search-button">
                <img src="{{url_for('static',filename = 'images/search.png')}}">
              </button>
            </form>
            <a class="nav-link" href="/find/buddy">Find Meal Buddy</a>
            <a class = "nav-link" href = "/find/restaurant"> Find Resturants</a>
            <a class="nav-link" href="/profile/my">My Profile</a>
            <div id = "nav_pic">
              <img src="{{url_for('static',filename = 'images/default_profile_pic.webp')}}">
            </div>
            

          </div>
        </div>
      </div>
    </nav>

    <div class="container">   
        {% block content %}
        {% endblock %}
    </div>

  </body>
</html>




